<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <title>Title</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <script src="__STATIC__/js/jquery.js"></script>
    <script src="__STATIC__/js/util.js"></script>
</head>
<body>

<div class="box">
    <div class="left">
        <h5>index.html</h5>
        <input class="input" placeholder="你想说啥"/>
        <button class="btn">发送信息</button>
        <div id="div">
            <!--
            <div class="message">
                <div class="pull-left">
                    <img class="headpic"
                         src="https://zhangsf1919.oss-cn-beijing.aliyuncs.com/uploads/6b3c7155d8bc10caf52b0dfda810692d.jpg"/>
                    <span>张三丰进入</span>
                </div>
            </div>
            <div class="message">
                <div class="pull-left">
                    <img class="headpic"
                         src="https://zhangsf1919.oss-cn-beijing.aliyuncs.com/uploads/6b3c7155d8bc10caf52b0dfda810692d.jpg"/>
                    <span>张三丰说：123</span>
                </div>
            </div>
            <div class="message">
                <div class="pull-left">
                    <img class="headpic"
                         src="https://zhangsf1919.oss-cn-beijing.aliyuncs.com/uploads/6b3c7155d8bc10caf52b0dfda810692d.jpg"/>
                    <span>张三丰对张四丰说：123</span>
                </div>
            </div>
            <div class="message">
                <div class="pull-right">
                    <span>我说：123</span>
                    <img class="headpic"
                         src="https://zhangsf1919.oss-cn-beijing.aliyuncs.com/uploads/6b3c7155d8bc10caf52b0dfda810692d.jpg"/>
                </div>
            </div>
            <div class="message">
                <div class="pull-right">
                    <span>我对刘德华说：123</span>
                    <img class="headpic"
                         src="https://zhangsf1919.oss-cn-beijing.aliyuncs.com/uploads/6b3c7155d8bc10caf52b0dfda810692d.jpg"/>
                </div>
            </div>
            -->
        </div>
    </div>
    <div class="right">
        <h2>最新加入的用户</h2>
        <div id="members"></div>
    </div>
</div>

<script>
    var fromid = undefined;
    var fromInfo = {};
    var toid = undefined;
    var toInfo = {};
    var messages = [];
    var members = [];
    var htmls = '';
    $(function () {
        fromid = getRequest()['fromid'];
        if (fromid) {
            getInfoByUid(fromid, function (obj) {
                if (obj.id) {
                    fromid = obj.id;
                    fromInfo = obj;
                    console.log(fromInfo);
                } else {
                    alert('用户不存在');
                }
            })
        } else {
            alert('模拟登录，所以链接必带?fromid=xxx')
        }
        toid = getRequest()['toid'];
        console.log(toid);
        if (toid) {
            getInfoByUid(toid, function (obj) {
                if (obj.id) {
                    toid = obj.id;
                    toInfo = obj;
                    console.log(toInfo);
                } else {
                    toid = 'all';
                }
            })
        }
    });
    var ws = new WebSocket('ws://127.0.0.1:8282');
    ws.onmessage = function (e) {
        var obj = JSON.parse(e.data);
        messages.push(obj);
        console.log('总的消息数组', messages);
        switch (obj.type) {
            case 'init':
                console.log('switch==init');
                ws.send(JSON.stringify({type: 'bind', fromid: fromid}));
                break;
            case 'login':
                console.log('switch==login');
                htmls = '<div style="font-size:20px;color:orange;">' + obj["data"] + '</div>';
                $('#members').append('<div style="height:40px;line-height:40px">' + obj.id + '</div>');
                break;
            case 'msg':
                console.log('switch==msg');
                htmls = '<div style="font-size:22px;color:blue;">' + obj["id"] + '说：' + obj["data"] + '</div>';
                break;
            case 'quit':
                console.log('switch==quit');
                htmls = '<div style="font-size:20px;color:#333;">' + obj["data"] + '</div>';
                break;
        }
        $('#div').append(htmls);
    };

    $('.btn').click(function () {
        var msg = $('.input').val();
        ws.send(JSON.stringify({
            data: msg,
            type: 'say',
            to: toid ? toid : 'all',
            from: fromid
        }));
        $('.input').val('');
    });

    function getInfoByUid(uid, callback) {
        $.ajax({
            url: 'http://127.0.0.3/index.php/index/Api/getUserinfoByUid?uid=' + uid,
            type: 'get',
            success: function (res, status) {
                if (res !== 'null') {
                    callback && callback(JSON.parse(res))
                } else {
                    callback && callback({});
                }
            }
        });
    }

</script>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body, html {
        width: 100%;
        height: 100%;
    }

    .box {
        padding: 30px;
        width: 100%;
        height: 100%;
        display: flex;
    }

    .box .left {
        flex: 1;
        border-right: 1px solid #ccc;
    }

    .box .right {
        width: 40%;
        padding-left: 30px;
    }

    .message {
        width: 100%;
        height: auto;
        overflow: hidden;
        margin: 10px 0 10px 0;
    }

    .message .pull-left {
        float: left;
    }

    .message .pull-right {
        float: right;
    }

    .message .headpic {
        width: 50px;
        height: 50px;
    }
</style>
</body>
</html>